/************************************************************************
****************************** HEADER ***********************************
*************************************************************************/
div#logo,
nav {
	display: block;
	margin-bottom: 2em;
	text-align: center;
	width: 100%;
}

nav li {
	margin: .5em .5em 2em;
}
