/************************************************************************
****************************** HEADER ***********************************
*************************************************************************/
div#logo, div#logo img {
	/*width: 90%;*/
}

nav {
	padding-bottom: 1em;
}

nav ul li {
	display: block;
	margin: 1em auto;
	width: 95%;
}

nav ul li a {
	display: block;
	margin: auto;
	width: 95%;
}

/********************************************************
********************** INDEX ****************************
*********************************************************/
iframe,
textarea {
	width: 95%;
}

#mapa {
    width: 95%
}

div.menuinterno nav{
    width: 95%;
    text-align: center
}
div.acceso-api {
    width: 90%;
    text-align: left
}

code  {
    font-size: 10pt;
    width: 90%
}