
/********************************************************************
***************************** DENUNCIAS *****************************
********************************************************************/
form {
	margin-top: 2em;
	text-align: center;
}

h2 {
	color: #666;
	font-size: 30px;
	margin-top: 1em;
	text-align: center;
}
h3 {
	color: #666;
	font-size: 20px;
	/*margin-top: 1em;*/
	text-align: left;
    padding-left: 20px;
}

iframe {
	width: 60%;
}

select {
	font-size: 14px;
	font-weight: bold;
	height: 30px;
	padding: .2em;
	text-align: center;
	width: 50%;
}

textarea {	
	background: #C5DCE5;
	color: #212121;
	font-size: 14px;
	font-weight: bold;
	resize: none;
	width: 60%;	
}

textarea:focus {
	background: #BBD5BA;
	border: 2px solid #E44E2D;
}

.denuncia-info-titulo {
	color: #013B0C;
	display: block;
	font-size: 20px;
	font-weight: bold;
	line-height: 26px;
	margin: 2em 0 1em;
}